<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace = "sonn.web.mapper.UserMapper">
 	<select id = "findAll" resultType = "sonn.web.entity.User">
 		select ID,USRNAME,PASSWD,IS_ADMIN from USER
 	</select>
  	<select id = "findByUsername"  parameterType="String" resultType = "sonn.web.entity.User">
 		select ID,USRNAME,PASSWD,IS_ADMIN from USER where USRNAME = #{usrname}
 	</select>
 </mapper>