<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/tx      
           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	
	<bean id = "myDataSource" class = "org.apache.commons.dbcp.BasicDataSource" destroy-method = "close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost/sonne_game?useUnicode=true&amp;characterEncoding=UTF-8"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>
	
	<bean id = "sqlSessionFactory" class = "org.mybatis.spring.SqlSessionFactoryBean">
		<property name = "dataSource" ref = "myDataSource" />
   		<property name = "mapperLocations" value = "classpath:sonn/web/entity/*.xml" />
   	</bean>
    
   	<!-- define mapper -->
   	<bean id = "userMapper" class = "org.mybatis.spring.mapper.MapperFactoryBean">
   		<property name = "mapperInterface" value = "sonn.web.mapper.UserMapper" />
   		<property name = "sqlSessionFactory" ref = "sqlSessionFactory" />
   	</bean>
	
   <bean id="freemarkerConfig"  
      class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
        <property name="templateLoaderPath" value="WEB-INF/ftl/" />  
        <property name="freemarkerSettings">  
           <props>  
              <prop key="template_update_delay">0</prop>  
              <prop key="default_encoding">UTF-8</prop>  
              <prop key="number_format">0.##########</prop>  
              <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>  
              <prop key="classic_compatible">true</prop>  
              <prop key="template_exception_handler">ignore</prop>  
           </props>  
        </property>  
    </bean>  
      
</beans>